# SQL TOP interview Question ans Answer

## Primary Key:

In [ ]:
 Ans: It is a field or a set of fields within a database table that uniquely 
    identified each row or record in the table. 
    In other words it is the combination of not null and unique keys. Means
    in a table it ensures the table records should be unique and should not have 
    the duplicates values.

## CTE

In [ ]:
Ans: A common table expression (CTE) is a temprory result set that we can reference with
    a SELECT, INSERT, UPDATE, or DELETE statement etc. It simplify the   
    complex SQL queries, make code more readable and avoid repeating the same subquery logic
    multiple times within query.

### Basic CTE example:
    -- Create a CTE that selects employees with a salary greater than 50000

In [ ]:
with HighestEmployeeSalary as(
        Select * from Employee where salary > 50000
    )
    -- Use the CTE in a subsequent query
    Select * from HighestSalaryEmployee;
    
In this example, we define a CTE called "HighSalaryEmployees" that selects
employees with a salary greater than 50000. Later, we use this CTE in the 
main query to retrieve the high-salary employees.

### CTE with Aggregation:
      --Calculate the average salary for each department

In [ ]:
with DepartmentAvgSalary as(
    SELECT DepartmentID, Avg(Salary), As AvgSalary
    From Employees
    Group by DepartmentID
)

-- Join the CTE with another table to retrieve department names
Select d.DepartmentName, a.AvgSalary
from DepartmentAvgSalary a
Join Departments d on
a.DepartmentID = d.DepartmentID;

## Windows Functions

In [ ]:
Ans: We perform calculation on data using various aggregated functions such as Max, Min
    and Avg. We get a single output row using these functions.
    
    But
    Windows functions perform an aggregate operations for each row and return the results
    in details
    
    Syntax:
        window_function([All] expression)
        OVER([Partition BY partition_list][ORDER BY order_list])

### List Of Window functions:

In [ ]:
1. Over()
2. Partition()

### Ranking Window Functions

In [ ]:
1.Rank() and Dense Rank()
2.Row_Number()
3.Ntile(N)

### Value Window Function

In [ ]:
1. LEAD and LAG
2. First_Value(), Last_Value()

### Practical

In [ ]:
OVER() window function
 ----It is the replacement of group by. It creates a window with multiple rows.

In [ ]:
Query: Find sales deptwise with emp_id, product_id deetails.

In [ ]:
Select column_name(s),
        fun() OVER() ([<PARTITION BY Clause>]
                      [<ORDER BY Clause]
                      [<ROW or RANGE Clause]
                     )
FROM table_name  

####
fun()----Aggregate functions/Ranking functions/Analytic functions
OVER BY()----PARTITION BY/ORDER BY/ROWS

In [ ]:
select dept_name from employee;

select max(salary) as max_salary from employee group by dept_name;